.LangDropDown {
  button {
    background-color: transparent !important;
    color: black !important;
    &:hover {
      color: black;
      background-color: transparent;
    }
  }
}

.flagImg {
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px;
}
