.sidebar {
  width: 200px;
  background: #3c0760;
  height: 100vh;
  z-index: 999;
  left: 0;
  top: 0;
  transition: 0.4s;
  overflow-y: scroll;
  scrollbar-width: none;
  .top {
    display: flex;
    justify-content: center;
    .logo {
      width: 50px;
      height: 50px;
      border-radius: 20px;
     
      img {
        object-fit: contain;
      }
    }
  }
  .linkWrpper {
    .accordionWrp {
     
      .accordionBtn button {
        padding: 8px 15px;
        padding-right: 20px;
        &:after {
          position: absolute;
          content: "";
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          height: 7px;
          width: 13px;
          background: #fff;
          clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        
      }
      
      &:has(a.active) .accordionBtn button {
        background-color: #ff00bf;
      }
      
      .subLinks {
        font-size: 10px;
        line-height: 12px;
        color: #7a7a7a;
        &.active {
          color: #ff00bf !important;
          font-weight: 600;
        }
      }
    }
    .link,
    .accordionBtn button {
      transition: all ease 0.5s;
      color: #fff;
      border-radius: 4px !important;
      background-color: transparent;
      box-shadow: unset;
      font-size: 12px;
      padding: 4px 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      &.active {
        background-color: #ff00bf;
      }
      &:hover {
        background-color: #ff00bf;
      }
    }
  }
}
@media (max-width: 992px) {
  .sidebar {
    &:not(.active) {
      transform: translateX(-110%);
    }
  }
}
