.ConfirmationPop {
  .modalBody {
    border-top: 15px solid #71501a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .dangerThemeBtn {
    border: red 2px solid;
    background-color: red;
  }
}
